<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ISOCODE</key>
		<string>AFG</string>
		<key>name</key>
		<string>Afghanistan</string>
		<key>ISD</key>
		<string>93</string>
		<key>MCC</key>
		<string>412	</string>
		<key>CallRate</key>
		<string></string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>ALA</string>
		<key>name</key>
		<string>Aland Islands</string>
		<key>ISD</key>
		<string>35818</string>
		<key>MCC</key>
		<string></string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>ALB</string>
		<key>name</key>
		<string>Albania</string>
		<key>ISD</key>
		<string>355</string>
		<key>MCC</key>
		<string>276</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>DZA</string>
		<key>name</key>
		<string>Algeria</string>
		<key>ISD</key>
		<string>213</string>
		<key>MCC</key>
		<string>603</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>ASM</string>
		<key>name</key>
		<string>American Samoa</string>
		<key>ISD</key>
		<string>1684</string>
		<key>MCC</key>
		<string>544</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>AND</string>
		<key>name</key>
		<string>Andorra</string>
		<key>ISD</key>
		<string>376</string>
		<key>MCC</key>
		<string>213</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>AGO</string>
		<key>name</key>
		<string>Angola</string>
		<key>ISD</key>
		<string>244</string>
		<key>MCC</key>
		<string>631</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>AIA</string>
		<key>name</key>
		<string>Anguilla</string>
		<key>ISD</key>
		<string>1264</string>
		<key>MCC</key>
		<string>365</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>ATG </string>
		<key>name</key>
		<string>Antigua and Barbuda</string>
		<key>ISD</key>
		<string>1268</string>
		<key>MCC</key>
		<string>344</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>ARG</string>
		<key>name</key>
		<string>Argentina</string>
		<key>ISD</key>
		<string>54</string>
		<key>MCC</key>
		<string>722</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>ARM</string>
		<key>name</key>
		<string>Armenia</string>
		<key>ISD</key>
		<string>374</string>
		<key>MCC</key>
		<string>283</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>ABW</string>
		<key>name</key>
		<string>Aruba</string>
		<key>ISD</key>
		<string>297</string>
		<key>MCC</key>
		<string>363</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string></string>
		<key>name</key>
		<string>Ascension</string>
		<key>ISD</key>
		<string>247</string>
		<key>MCC</key>
		<string></string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>AUS</string>
		<key>name</key>
		<string>Australia</string>
		<key>ISD</key>
		<string>61</string>
		<key>MCC</key>
		<string>505</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string></string>
		<key>name</key>
		<string>Australian External Territories</string>
		<key>ISD</key>
		<string>672</string>
		<key>MCC</key>
		<string></string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>AUT</string>
		<key>name</key>
		<string>Austria</string>
		<key>ISD</key>
		<string>43</string>
		<key>MCC</key>
		<string>232</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>AZE</string>
		<key>name</key>
		<string>Azerbaijan</string>
		<key>ISD</key>
		<string>994</string>
		<key>MCC</key>
		<string>400</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>BHS</string>
		<key>name</key>
		<string>Bahamas</string>
		<key>ISD</key>
		<string>1242</string>
		<key>MCC</key>
		<string>364</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>BHR</string>
		<key>name</key>
		<string>Bahrain</string>
		<key>ISD</key>
		<string>973</string>
		<key>MCC</key>
		<string>426</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>BGD</string>
		<key>name</key>
		<string>Bangladesh</string>
		<key>ISD</key>
		<string>880</string>
		<key>MCC</key>
		<string>470	</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>BRB</string>
		<key>name</key>
		<string>Barbados</string>
		<key>ISD</key>
		<string>1246</string>
		<key>MCC</key>
		<string>342	</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>ATG</string>
		<key>name</key>
		<string>Barbuda</string>
		<key>ISD</key>
		<string>1268</string>
		<key>MCC</key>
		<string></string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>BLR</string>
		<key>name</key>
		<string>Belarus</string>
		<key>ISD</key>
		<string>375</string>
		<key>MCC</key>
		<string>257</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>BEL</string>
		<key>name</key>
		<string>Belgium</string>
		<key>ISD</key>
		<string>32</string>
		<key>MCC</key>
		<string>206</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>BLZ</string>
		<key>name</key>
		<string>Belize</string>
		<key>ISD</key>
		<string>501</string>
		<key>MCC</key>
		<string>702</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>BEN</string>
		<key>name</key>
		<string>Benin</string>
		<key>ISD</key>
		<string>229</string>
		<key>MCC</key>
		<string>616</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>BMU</string>
		<key>name</key>
		<string>Bermuda</string>
		<key>ISD</key>
		<string>1441</string>
		<key>MCC</key>
		<string>310</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>BTN</string>
		<key>name</key>
		<string>Bhutan</string>
		<key>ISD</key>
		<string>975</string>
		<key>MCC</key>
		<string>402</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>BOL</string>
		<key>name</key>
		<string>Bolivia</string>
		<key>ISD</key>
		<string>591</string>
		<key>MCC</key>
		<string>736</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string></string>
		<key>name</key>
		<string>Bonaire</string>
		<key>ISD</key>
		<string>5997</string>
		<key>MCC</key>
		<string></string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>BIH</string>
		<key>name</key>
		<string>Bosnia and Herzegovina</string>
		<key>ISD</key>
		<string>387</string>
		<key>MCC</key>
		<string>218</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>BWA</string>
		<key>name</key>
		<string>Botswana</string>
		<key>ISD</key>
		<string>267</string>
		<key>MCC</key>
		<string>652</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>BRA</string>
		<key>name</key>
		<string>Brazil</string>
		<key>ISD</key>
		<string>55</string>
		<key>MCC</key>
		<string>724</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>IOT</string>
		<key>name</key>
		<string>British Indian Ocean Territory</string>
		<key>ISD</key>
		<string>246</string>
		<key>MCC</key>
		<string></string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>VGB</string>
		<key>name</key>
		<string>British Virgin Islands</string>
		<key>ISD</key>
		<string>1284</string>
		<key>MCC</key>
		<string>348</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string></string>
		<key>name</key>
		<string>Brunei Darussalam</string>
		<key>ISD</key>
		<string>673</string>
		<key>MCC</key>
		<string>528</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>BGR</string>
		<key>name</key>
		<string>Bulgaria</string>
		<key>ISD</key>
		<string>359</string>
		<key>MCC</key>
		<string>284</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>BFA</string>
		<key>name</key>
		<string>Burkina Faso</string>
		<key>ISD</key>
		<string>226</string>
		<key>MCC</key>
		<string>613</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string></string>
		<key>name</key>
		<string>Burma</string>
		<key>ISD</key>
		<string>95</string>
		<key>MCC</key>
		<string></string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>BDI</string>
		<key>name</key>
		<string>Burundi</string>
		<key>ISD</key>
		<string>257</string>
		<key>MCC</key>
		<string>642</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>KHM</string>
		<key>name</key>
		<string>Cambodia</string>
		<key>ISD</key>
		<string>855</string>
		<key>MCC</key>
		<string>456</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>CMR</string>
		<key>name</key>
		<string>Cameroon</string>
		<key>ISD</key>
		<string>237</string>
		<key>MCC</key>
		<string>624</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>CAN</string>
		<key>name</key>
		<string>Canada</string>
		<key>ISD</key>
		<string>1</string>
		<key>MCC</key>
		<string>302</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>CPV</string>
		<key>name</key>
		<string>Cape Verde</string>
		<key>ISD</key>
		<string>238</string>
		<key>MCC</key>
		<string>625</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string></string>
		<key>name</key>
		<string>Caribbean Netherlands</string>
		<key>ISD</key>
		<string>5993</string>
		<key>MCC</key>
		<string></string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>CYM</string>
		<key>name</key>
		<string>Cayman Islands</string>
		<key>ISD</key>
		<string>1345</string>
		<key>MCC</key>
		<string>346</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>CAF</string>
		<key>name</key>
		<string>Central African Republic</string>
		<key>ISD</key>
		<string>236</string>
		<key>MCC</key>
		<string>623</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>TCD</string>
		<key>name</key>
		<string>Chad</string>
		<key>ISD</key>
		<string>235</string>
		<key>MCC</key>
		<string>622</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>CHL</string>
		<key>name</key>
		<string>Chile</string>
		<key>ISD</key>
		<string>56</string>
		<key>MCC</key>
		<string>730</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>CHN</string>
		<key>name</key>
		<string>China</string>
		<key>ISD</key>
		<string>86</string>
		<key>MCC</key>
		<string>460</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string></string>
		<key>name</key>
		<string>Christmas Islands</string>
		<key>ISD</key>
		<string>61</string>
		<key>MCC</key>
		<string></string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>COL</string>
		<key>name</key>
		<string>Colombia</string>
		<key>ISD</key>
		<string>57</string>
		<key>MCC</key>
		<string>732</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>COM</string>
		<key>name</key>
		<string>Comoros</string>
		<key>ISD</key>
		<string>269</string>
		<key>MCC</key>
		<string>654</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>COD</string>
		<key>name</key>
		<string>Congo</string>
		<key>ISD</key>
		<string>242</string>
		<key>MCC</key>
		<string>629</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>COK</string>
		<key>name</key>
		<string>Cook Islands</string>
		<key>ISD</key>
		<string>682</string>
		<key>MCC</key>
		<string>548</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>CRI</string>
		<key>name</key>
		<string>Costa Rica</string>
		<key>ISD</key>
		<string>506</string>
		<key>MCC</key>
		<string>712</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string></string>
		<key>name</key>
		<string>Cote Divoire</string>
		<key>ISD</key>
		<string>225</string>
		<key>MCC</key>
		<string></string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>HRV</string>
		<key>name</key>
		<string>Croatia</string>
		<key>ISD</key>
		<string>385</string>
		<key>MCC</key>
		<string>219</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>CUB</string>
		<key>name</key>
		<string>Cuba</string>
		<key>ISD</key>
		<string>53</string>
		<key>MCC</key>
		<string>368</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>CUW</string>
		<key>name</key>
		<string>Curacao</string>
		<key>ISD</key>
		<string>5999</string>
		<key>MCC</key>
		<string></string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>CYP</string>
		<key>name</key>
		<string>Cyprus</string>
		<key>ISD</key>
		<string>357</string>
		<key>MCC</key>
		<string>280</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>CZE</string>
		<key>name</key>
		<string>Czech republic</string>
		<key>ISD</key>
		<string>420</string>
		<key>MCC</key>
		<string>230</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>DNK</string>
		<key>name</key>
		<string>Denmark</string>
		<key>ISD</key>
		<string>45</string>
		<key>MCC</key>
		<string>238</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string></string>
		<key>name</key>
		<string>Diego Garcia</string>
		<key>ISD</key>
		<string>246</string>
		<key>MCC</key>
		<string></string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>DJI</string>
		<key>name</key>
		<string>Djibouti</string>
		<key>ISD</key>
		<string>253</string>
		<key>MCC</key>
		<string>638</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>DMA</string>
		<key>name</key>
		<string>Dominica</string>
		<key>ISD</key>
		<string>1767</string>
		<key>MCC</key>
		<string></string>
	</dict>
	<dict>
		<key>New item</key>
		<string>DOM</string>
		<key>name</key>
		<string>Dominican Republic</string>
		<key>ISD</key>
		<string>1809</string>
		<key>MCC</key>
		<string>370</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>TLS</string>
		<key>name</key>
		<string>East Timor</string>
		<key>ISD</key>
		<string>670</string>
		<key>MCC</key>
		<string>514</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string></string>
		<key>name</key>
		<string>Easter Island</string>
		<key>ISD</key>
		<string>56</string>
		<key>MCC</key>
		<string></string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>ECU</string>
		<key>name</key>
		<string>Ecuador</string>
		<key>ISD</key>
		<string>593</string>
		<key>MCC</key>
		<string>740</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>EGY</string>
		<key>name</key>
		<string>Egypt</string>
		<key>ISD</key>
		<string>20</string>
		<key>MCC</key>
		<string>602</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>SLV</string>
		<key>name</key>
		<string>El Salvador</string>
		<key>ISD</key>
		<string>503</string>
		<key>MCC</key>
		<string>706</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>GNQ</string>
		<key>name</key>
		<string>Guinea</string>
		<key>ISD</key>
		<string>240</string>
		<key>MCC</key>
		<string>627</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>ERI</string>
		<key>name</key>
		<string>Eritrea</string>
		<key>ISD</key>
		<string>291</string>
		<key>MCC</key>
		<string>657</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>EST</string>
		<key>name</key>
		<string>Estonia</string>
		<key>ISD</key>
		<string>372</string>
		<key>MCC</key>
		<string>248</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>ETH</string>
		<key>name</key>
		<string>Ethiopia</string>
		<key>ISD</key>
		<string>251</string>
		<key>MCC</key>
		<string>636</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>FLK</string>
		<key>name</key>
		<string>Falkland Islands</string>
		<key>ISD</key>
		<string>500</string>
		<key>MCC</key>
		<string>750</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>FRO</string>
		<key>name</key>
		<string>Faroe Islands</string>
		<key>ISD</key>
		<string>298</string>
		<key>MCC</key>
		<string>636</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>FJI</string>
		<key>name</key>
		<string>Fiji</string>
		<key>ISD</key>
		<string>679</string>
		<key>MCC</key>
		<string>542</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>FIN</string>
		<key>name</key>
		<string>Finland</string>
		<key>ISD</key>
		<string>358</string>
		<key>MCC</key>
		<string>244</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>FRA</string>
		<key>name</key>
		<string>France</string>
		<key>ISD</key>
		<string>33</string>
		<key>MCC</key>
		<string>208</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string></string>
		<key>name</key>
		<string>French Antilles</string>
		<key>ISD</key>
		<string>596</string>
		<key>MCC</key>
		<string></string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string></string>
		<key>name</key>
		<string>French Guiana</string>
		<key>ISD</key>
		<string>594</string>
		<key>MCC</key>
		<string>340	</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>PYF</string>
		<key>name</key>
		<string>French Polynesia</string>
		<key>ISD</key>
		<string>689</string>
		<key>MCC</key>
		<string>547</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>GAB</string>
		<key>name</key>
		<string>Gabon</string>
		<key>ISD</key>
		<string>241</string>
		<key>MCC</key>
		<string>628</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>GMB</string>
		<key>name</key>
		<string>Gambia</string>
		<key>ISD</key>
		<string>220</string>
		<key>MCC</key>
		<string>607</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>GEO</string>
		<key>name</key>
		<string>Georgia</string>
		<key>ISD</key>
		<string>995</string>
		<key>MCC</key>
		<string>282</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>DEU</string>
		<key>name</key>
		<string>Germany</string>
		<key>ISD</key>
		<string>49</string>
		<key>MCC</key>
		<string>262</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>GHA</string>
		<key>name</key>
		<string>Ghana</string>
		<key>ISD</key>
		<string>233</string>
		<key>MCC</key>
		<string>620</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>GIB</string>
		<key>name</key>
		<string>Gibraltar</string>
		<key>ISD</key>
		<string>350</string>
		<key>MCC</key>
		<string>266</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>GRC</string>
		<key>name</key>
		<string>Greece</string>
		<key>ISD</key>
		<string>30</string>
		<key>MCC</key>
		<string>202</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>GRL</string>
		<key>name</key>
		<string>Greenland</string>
		<key>ISD</key>
		<string>299</string>
		<key>MCC</key>
		<string>290</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>GRD</string>
		<key>name</key>
		<string>Grenada</string>
		<key>ISD</key>
		<string>1473</string>
		<key>MCC</key>
		<string>352</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string></string>
		<key>name</key>
		<string>Guadeloupe</string>
		<key>ISD</key>
		<string>590</string>
		<key>MCC</key>
		<string>340</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>GTM</string>
		<key>name</key>
		<string>Guatemala</string>
		<key>ISD</key>
		<string>502</string>
		<key>MCC</key>
		<string>704</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>GGY</string>
		<key>name</key>
		<string>Guernsey</string>
		<key>ISD</key>
		<string>44</string>
		<key>MCC</key>
		<string>234</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>GIN</string>
		<key>name</key>
		<string>Guinea</string>
		<key>ISD</key>
		<string>224</string>
		<key>MCC</key>
		<string>632</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>GUY</string>
		<key>name</key>
		<string>Guyana</string>
		<key>ISD</key>
		<string>592</string>
		<key>MCC</key>
		<string>738</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>HTI</string>
		<key>name</key>
		<string>Haiti</string>
		<key>ISD</key>
		<string>509</string>
		<key>MCC</key>
		<string>372</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>HND</string>
		<key>name</key>
		<string>Honduras</string>
		<key>ISD</key>
		<string>504</string>
		<key>MCC</key>
		<string>708</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>HKG</string>
		<key>name</key>
		<string>Hong Kong</string>
		<key>ISD</key>
		<string>852</string>
		<key>MCC</key>
		<string>454</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>HUN</string>
		<key>name</key>
		<string>Hungary</string>
		<key>ISD</key>
		<string>36</string>
		<key>MCC</key>
		<string>216</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>ISL</string>
		<key>name</key>
		<string>Iceland</string>
		<key>ISD</key>
		<string>354</string>
		<key>MCC</key>
		<string>274</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>IND</string>
		<key>name</key>
		<string>India</string>
		<key>ISD</key>
		<string>91</string>
		<key>MCC</key>
		<string>404</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>IDN</string>
		<key>name</key>
		<string>Indonesia</string>
		<key>ISD</key>
		<string>62</string>
		<key>MCC</key>
		<string>510</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>IRN</string>
		<key>name</key>
		<string>Iran</string>
		<key>ISD</key>
		<string>98</string>
		<key>MCC</key>
		<string>432</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>IRQ</string>
		<key>name</key>
		<string>Iraq</string>
		<key>ISD</key>
		<string>964</string>
		<key>MCC</key>
		<string>418</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>IRL</string>
		<key>name</key>
		<string>Ireland</string>
		<key>ISD</key>
		<string>353</string>
		<key>MCC</key>
		<string>272</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>IMN</string>
		<key>name</key>
		<string>Isle of Man</string>
		<key>ISD</key>
		<string>44</string>
		<key>MCC</key>
		<string>234</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>ISR</string>
		<key>name</key>
		<string>Israel</string>
		<key>ISD</key>
		<string>972</string>
		<key>MCC</key>
		<string>425</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>ITA</string>
		<key>name</key>
		<string>Italy</string>
		<key>ISD</key>
		<string>39</string>
		<key>MCC</key>
		<string>222</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>JAM</string>
		<key>name</key>
		<string>Jamaica</string>
		<key>ISD</key>
		<string>1876</string>
		<key>MCC</key>
		<string>338</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>JPN</string>
		<key>name</key>
		<string>Japan</string>
		<key>ISD</key>
		<string>81</string>
		<key>MCC</key>
		<string>440</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>JEY</string>
		<key>name</key>
		<string>Jersey</string>
		<key>ISD</key>
		<string>44</string>
		<key>MCC</key>
		<string>234</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>JOR</string>
		<key>name</key>
		<string>Jordan</string>
		<key>ISD</key>
		<string>962</string>
		<key>MCC</key>
		<string>416</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>KAZ</string>
		<key>name</key>
		<string>Kazakhstan</string>
		<key>ISD</key>
		<string>76</string>
		<key>MCC</key>
		<string>401	</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>KEN</string>
		<key>name</key>
		<string>Kenya</string>
		<key>ISD</key>
		<string>254</string>
		<key>MCC</key>
		<string>639</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>KIR</string>
		<key>name</key>
		<string>Kiribati</string>
		<key>ISD</key>
		<string>686</string>
		<key>MCC</key>
		<string>545</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>PRK</string>
		<key>name</key>
		<string>North Korea</string>
		<key>ISD</key>
		<string>850</string>
		<key>MCC</key>
		<string>467</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>KOR</string>
		<key>name</key>
		<string>South Korea</string>
		<key>ISD</key>
		<string>82</string>
		<key>MCC</key>
		<string>450</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>KWT</string>
		<key>name</key>
		<string>Kuwait</string>
		<key>ISD</key>
		<string>965</string>
		<key>MCC</key>
		<string>419</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string></string>
		<key>name</key>
		<string>Kyrygzstan</string>
		<key>ISD</key>
		<string>996</string>
		<key>MCC</key>
		<string>437</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>LAO</string>
		<key>name</key>
		<string>Laos</string>
		<key>ISD</key>
		<string>856</string>
		<key>MCC</key>
		<string>457</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>LVA</string>
		<key>name</key>
		<string>Latvia</string>
		<key>ISD</key>
		<string>371</string>
		<key>MCC</key>
		<string>247</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>LBN</string>
		<key>name</key>
		<string>Lebanon</string>
		<key>ISD</key>
		<string>961</string>
		<key>MCC</key>
		<string>415</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>LSO</string>
		<key>name</key>
		<string>Lesotho</string>
		<key>ISD</key>
		<string>266</string>
		<key>MCC</key>
		<string>651</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>LBR</string>
		<key>name</key>
		<string>Liberia</string>
		<key>ISD</key>
		<string>231</string>
		<key>MCC</key>
		<string>618</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>LBY</string>
		<key>name</key>
		<string>Libya</string>
		<key>ISD</key>
		<string>218</string>
		<key>MCC</key>
		<string>606</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>LIE</string>
		<key>name</key>
		<string>Liechtenstein</string>
		<key>ISD</key>
		<string>423</string>
		<key>MCC</key>
		<string>295</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>LTU</string>
		<key>name</key>
		<string>Lithuania</string>
		<key>ISD</key>
		<string>370</string>
		<key>MCC</key>
		<string>246</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>LUX</string>
		<key>name</key>
		<string>Luxembourg</string>
		<key>ISD</key>
		<string>352</string>
		<key>MCC</key>
		<string>270</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string></string>
		<key>name</key>
		<string>Macau</string>
		<key>ISD</key>
		<string>853</string>
		<key>MCC</key>
		<string>455</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>MKD</string>
		<key>name</key>
		<string>Macedonia</string>
		<key>ISD</key>
		<string>389</string>
		<key>MCC</key>
		<string>294</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>MDG</string>
		<key>name</key>
		<string>Madagascar</string>
		<key>ISD</key>
		<string>261</string>
		<key>MCC</key>
		<string>646</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>MWI</string>
		<key>name</key>
		<string>Malawi</string>
		<key>ISD</key>
		<string>265</string>
		<key>MCC</key>
		<string>650</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>MYS</string>
		<key>name</key>
		<string>Malaysia</string>
		<key>ISD</key>
		<string>60</string>
		<key>MCC</key>
		<string>502</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>MDV</string>
		<key>name</key>
		<string>Maldives</string>
		<key>ISD</key>
		<string>960</string>
		<key>MCC</key>
		<string>472</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>MLI</string>
		<key>name</key>
		<string>Mali</string>
		<key>ISD</key>
		<string>223</string>
		<key>MCC</key>
		<string>610</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>MLT</string>
		<key>name</key>
		<string>Malta</string>
		<key>ISD</key>
		<string>356</string>
		<key>MCC</key>
		<string>278</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>MHL</string>
		<key>name</key>
		<string>Marshall Islands</string>
		<key>ISD</key>
		<string>692</string>
		<key>MCC</key>
		<string>551</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string></string>
		<key>name</key>
		<string>Martinique</string>
		<key>ISD</key>
		<string>596</string>
		<key>MCC</key>
		<string>340</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>MRT</string>
		<key>name</key>
		<string>Mauritania</string>
		<key>ISD</key>
		<string>222</string>
		<key>MCC</key>
		<string>609</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>MUS</string>
		<key>name</key>
		<string>Mauritius</string>
		<key>ISD</key>
		<string>230</string>
		<key>MCC</key>
		<string>617</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>MYT</string>
		<key>name</key>
		<string>Mayotte</string>
		<key>ISD</key>
		<string>262</string>
		<key>MCC</key>
		<string></string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>MEX</string>
		<key>name</key>
		<string>Mexico</string>
		<key>ISD</key>
		<string>52</string>
		<key>MCC</key>
		<string>334</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>MDA</string>
		<key>name</key>
		<string>Moldova</string>
		<key>ISD</key>
		<string>373</string>
		<key>MCC</key>
		<string>259</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>MCO</string>
		<key>name</key>
		<string>Monaco</string>
		<key>ISD</key>
		<string>377</string>
		<key>MCC</key>
		<string>212</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>MNG</string>
		<key>name</key>
		<string>Mongolia</string>
		<key>ISD</key>
		<string>976</string>
		<key>MCC</key>
		<string>428</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>MNE</string>
		<key>name</key>
		<string>Montenegro</string>
		<key>ISD</key>
		<string>382</string>
		<key>MCC</key>
		<string>297</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>MAR</string>
		<key>name</key>
		<string>Morocco</string>
		<key>ISD</key>
		<string>212</string>
		<key>MCC</key>
		<string>604</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>MOZ</string>
		<key>name</key>
		<string>Mozambique</string>
		<key>ISD</key>
		<string>258</string>
		<key>MCC</key>
		<string>643</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>NAM</string>
		<key>name</key>
		<string>Namibia</string>
		<key>ISD</key>
		<string>264</string>
		<key>MCC</key>
		<string>649</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>NRU</string>
		<key>name</key>
		<string>Nauru</string>
		<key>ISD</key>
		<string>674</string>
		<key>MCC</key>
		<string>536	</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>NPL</string>
		<key>name</key>
		<string>Nepal</string>
		<key>ISD</key>
		<string>977</string>
		<key>MCC</key>
		<string>429</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>NLD</string>
		<key>name</key>
		<string>Netherlands</string>
		<key>ISD</key>
		<string>31</string>
		<key>MCC</key>
		<string>204</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>NCL</string>
		<key>name</key>
		<string>New Caledonia</string>
		<key>ISD</key>
		<string>687</string>
		<key>MCC</key>
		<string>546</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>NZL</string>
		<key>name</key>
		<string>New Zealand</string>
		<key>ISD</key>
		<string>64</string>
		<key>MCC</key>
		<string>530</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>NIC</string>
		<key>name</key>
		<string>Nicaragua</string>
		<key>ISD</key>
		<string>505</string>
		<key>MCC</key>
		<string>710</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>NER</string>
		<key>name</key>
		<string>Niger</string>
		<key>ISD</key>
		<string>227</string>
		<key>MCC</key>
		<string>614</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>NGA</string>
		<key>name</key>
		<string>Nigeria</string>
		<key>ISD</key>
		<string>234</string>
		<key>MCC</key>
		<string>621</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>NIU</string>
		<key>name</key>
		<string>Niue</string>
		<key>ISD</key>
		<string>683</string>
		<key>MCC</key>
		<string>555</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string></string>
		<key>name</key>
		<string>Norfolk Island</string>
		<key>ISD</key>
		<string>672</string>
		<key>MCC</key>
		<string>505</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>NOR</string>
		<key>name</key>
		<string>Norway</string>
		<key>ISD</key>
		<string>47</string>
		<key>MCC</key>
		<string>242</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>OMN</string>
		<key>name</key>
		<string>Oman</string>
		<key>ISD</key>
		<string>968</string>
		<key>MCC</key>
		<string>422</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>PAK</string>
		<key>name</key>
		<string>Pakistan</string>
		<key>ISD</key>
		<string>92</string>
		<key>MCC</key>
		<string>410</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>PLW</string>
		<key>name</key>
		<string>Palau</string>
		<key>ISD</key>
		<string>680</string>
		<key>MCC</key>
		<string>552</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string></string>
		<key>name</key>
		<string>Palastenian territories</string>
		<key>ISD</key>
		<string>970</string>
		<key>MCC</key>
		<string></string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>PAN</string>
		<key>name</key>
		<string>Panama</string>
		<key>ISD</key>
		<string>507</string>
		<key>MCC</key>
		<string>714</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>PNG</string>
		<key>name</key>
		<string>Papua New Guinea</string>
		<key>ISD</key>
		<string>675</string>
		<key>MCC</key>
		<string>537</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>PRY</string>
		<key>name</key>
		<string>Paraguay</string>
		<key>ISD</key>
		<string>595</string>
		<key>MCC</key>
		<string>744</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>PER</string>
		<key>name</key>
		<string>Peru</string>
		<key>ISD</key>
		<string>51</string>
		<key>MCC</key>
		<string>716</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>PHL</string>
		<key>name</key>
		<string>Philippines</string>
		<key>ISD</key>
		<string>63</string>
		<key>MCC</key>
		<string>515</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string></string>
		<key>name</key>
		<string>Pitcairn Islands</string>
		<key>ISD</key>
		<string>64</string>
		<key>MCC</key>
		<string></string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>POL</string>
		<key>name</key>
		<string>Poland</string>
		<key>ISD</key>
		<string>48</string>
		<key>MCC</key>
		<string>260</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>PRT</string>
		<key>name</key>
		<string>Portugal</string>
		<key>ISD</key>
		<string>351</string>
		<key>MCC</key>
		<string>268</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>PRI</string>
		<key>name</key>
		<string>Puerto Rico</string>
		<key>ISD</key>
		<string>1787</string>
		<key>MCC</key>
		<string>330</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>QAT</string>
		<key>name</key>
		<string>Qatar</string>
		<key>ISD</key>
		<string>974</string>
		<key>MCC</key>
		<string>427</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>REU</string>
		<key>name</key>
		<string>Reunion</string>
		<key>ISD</key>
		<string>262</string>
		<key>MCC</key>
		<string>647</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>ROU</string>
		<key>name</key>
		<string>Romania</string>
		<key>ISD</key>
		<string>40</string>
		<key>MCC</key>
		<string>226</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>RUS</string>
		<key>name</key>
		<string>Russia</string>
		<key>ISD</key>
		<string>7</string>
		<key>MCC</key>
		<string>250</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>RWA</string>
		<key>name</key>
		<string>Rwanda</string>
		<key>ISD</key>
		<string>250</string>
		<key>MCC</key>
		<string>635</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string></string>
		<key>name</key>
		<string>Saba</string>
		<key>ISD</key>
		<string>5994</string>
		<key>MCC</key>
		<string></string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>BLM</string>
		<key>name</key>
		<string>Saint Barthelemy</string>
		<key>ISD</key>
		<string>590</string>
		<key>MCC</key>
		<string></string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>SHN</string>
		<key>name</key>
		<string>Saint Helena</string>
		<key>ISD</key>
		<string>290</string>
		<key>MCC</key>
		<string></string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string></string>
		<key>name</key>
		<string>Saint Kittis and Nevis2</string>
		<key>ISD</key>
		<string>1869</string>
		<key>MCC</key>
		<string>356</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>LCA</string>
		<key>name</key>
		<string>Saint Lucia</string>
		<key>ISD</key>
		<string>1758</string>
		<key>MCC</key>
		<string>358</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>MAF</string>
		<key>name</key>
		<string>Saint Martin</string>
		<key>ISD</key>
		<string>590</string>
		<key>MCC</key>
		<string></string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>SPM</string>
		<key>name</key>
		<string>Saint Pierre and Miquelon</string>
		<key>ISD</key>
		<string>508</string>
		<key>MCC</key>
		<string>308</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string></string>
		<key>name</key>
		<string>Saint Vincent and Grenadines</string>
		<key>ISD</key>
		<string>1784</string>
		<key>MCC</key>
		<string>360</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>WSM</string>
		<key>name</key>
		<string>Samoa</string>
		<key>ISD</key>
		<string>685</string>
		<key>MCC</key>
		<string>549</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>SMR</string>
		<key>name</key>
		<string>San Marino</string>
		<key>ISD</key>
		<string>378</string>
		<key>MCC</key>
		<string>292</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>STP</string>
		<key>name</key>
		<string>Sao Tome and Principe</string>
		<key>ISD</key>
		<string>239</string>
		<key>MCC</key>
		<string>626</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>SAU</string>
		<key>name</key>
		<string>Saudi Arabia</string>
		<key>ISD</key>
		<string>966</string>
		<key>MCC</key>
		<string>420</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>SEN</string>
		<key>name</key>
		<string>Senegal</string>
		<key>ISD</key>
		<string>221</string>
		<key>MCC</key>
		<string>608</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>SRB</string>
		<key>name</key>
		<string>Serbia</string>
		<key>ISD</key>
		<string>381</string>
		<key>MCC</key>
		<string>220</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>SYC</string>
		<key>name</key>
		<string>Seychelles</string>
		<key>ISD</key>
		<string>248</string>
		<key>MCC</key>
		<string>633</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>SLE</string>
		<key>name</key>
		<string>Sierra Leone</string>
		<key>ISD</key>
		<string>232</string>
		<key>MCC</key>
		<string>619</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>SGP</string>
		<key>name</key>
		<string>Singapore</string>
		<key>ISO</key>
		<string>SGP</string>
		<key>ISD</key>
		<string>65</string>
		<key>MCC</key>
		<string>525</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>SVK</string>
		<key>name</key>
		<string>Slovakia</string>
		<key>ISD</key>
		<string>421</string>
		<key>MCC</key>
		<string>231</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>SVN</string>
		<key>name</key>
		<string>Slovenia</string>
		<key>ISD</key>
		<string>386</string>
		<key>MCC</key>
		<string>293</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>SLB</string>
		<key>name</key>
		<string>Solomon Islands</string>
		<key>ISD</key>
		<string>677</string>
		<key>MCC</key>
		<string>540</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>SOM</string>
		<key>name</key>
		<string>Somalia</string>
		<key>ISD</key>
		<string>252</string>
		<key>MCC</key>
		<string>637</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>ZAF</string>
		<key>name</key>
		<string>South Africa</string>
		<key>ISD</key>
		<string>27</string>
		<key>MCC</key>
		<string>655</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>SSD</string>
		<key>name</key>
		<string>South Sudan</string>
		<key>ISD</key>
		<string>211</string>
		<key>MCC</key>
		<string>659</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>ESP</string>
		<key>name</key>
		<string>Spain</string>
		<key>ISD</key>
		<string>34</string>
		<key>MCC</key>
		<string>214</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>LKA</string>
		<key>name</key>
		<string>Sri Lanka</string>
		<key>ISD</key>
		<string>94</string>
		<key>MCC</key>
		<string>413</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>SDN</string>
		<key>name</key>
		<string>Sudan</string>
		<key>ISD</key>
		<string>249</string>
		<key>MCC</key>
		<string>634</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>SUR</string>
		<key>name</key>
		<string>Suriname</string>
		<key>ISD</key>
		<string>597</string>
		<key>MCC</key>
		<string>746</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>SWZ</string>
		<key>name</key>
		<string>Swaziland</string>
		<key>ISD</key>
		<string>268</string>
		<key>MCC</key>
		<string>653</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>SWE</string>
		<key>name</key>
		<string>Sweden</string>
		<key>ISD</key>
		<string>46</string>
		<key>MCC</key>
		<string>240</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>CHE</string>
		<key>name</key>
		<string>Switzerland</string>
		<key>ISD</key>
		<string>41</string>
		<key>MCC</key>
		<string>228</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>SYR</string>
		<key>name</key>
		<string>Syria</string>
		<key>ISD</key>
		<string>963</string>
		<key>MCC</key>
		<string>417</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>TWN</string>
		<key>name</key>
		<string>Taiwan</string>
		<key>ISD</key>
		<string>886</string>
		<key>MCC</key>
		<string>466</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>TJK</string>
		<key>name</key>
		<string>Tajikistan</string>
		<key>ISD</key>
		<string>992</string>
		<key>MCC</key>
		<string>436</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>TZA</string>
		<key>name</key>
		<string>Tanzania</string>
		<key>ISD</key>
		<string>255</string>
		<key>MCC</key>
		<string>640</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>THA</string>
		<key>name</key>
		<string>Thailand</string>
		<key>ISD</key>
		<string>66</string>
		<key>MCC</key>
		<string>520</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>TGO</string>
		<key>name</key>
		<string>Togo</string>
		<key>ISD</key>
		<string>228</string>
		<key>MCC</key>
		<string>615</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>TKL</string>
		<key>name</key>
		<string>Tokelau</string>
		<key>ISD</key>
		<string>690</string>
		<key>MCC</key>
		<string></string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>TON</string>
		<key>name</key>
		<string>Tonga</string>
		<key>ISD</key>
		<string>676</string>
		<key>MCC</key>
		<string>539</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>TTO</string>
		<key>name</key>
		<string>Trinidad and Tobago</string>
		<key>ISD</key>
		<string>1868</string>
		<key>MCC</key>
		<string>374</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>TUN</string>
		<key>name</key>
		<string>Tunisia</string>
		<key>ISD</key>
		<string>216</string>
		<key>MCC</key>
		<string>605</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>TUR</string>
		<key>name</key>
		<string>Turkey</string>
		<key>ISD</key>
		<string>90</string>
		<key>MCC</key>
		<string>286</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>TKM</string>
		<key>name</key>
		<string>Turkmenistan</string>
		<key>ISD</key>
		<string>993</string>
		<key>MCC</key>
		<string>438</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>TUV</string>
		<key>name</key>
		<string>Tuvalu</string>
		<key>ISD</key>
		<string>688</string>
		<key>MCC</key>
		<string>553</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>UGA</string>
		<key>name</key>
		<string>Uganda</string>
		<key>ISD</key>
		<string>256</string>
		<key>MCC</key>
		<string>641</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>UKR</string>
		<key>name</key>
		<string>Ukraine</string>
		<key>ISD</key>
		<string>380</string>
		<key>MCC</key>
		<string>255</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>ARE</string>
		<key>name</key>
		<string>United Arab Emirates</string>
		<key>ISD</key>
		<string>971</string>
		<key>MCC</key>
		<string>424</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>GBR</string>
		<key>name</key>
		<string>United Kingdom</string>
		<key>ISD</key>
		<string>44</string>
		<key>MCC</key>
		<string>234</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>USA</string>
		<key>name</key>
		<string>USA</string>
		<key>ISD</key>
		<string>1</string>
		<key>MCC</key>
		<string>310</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>URY</string>
		<key>name</key>
		<string>Uruguay</string>
		<key>ISD</key>
		<string>598</string>
		<key>MCC</key>
		<string>748</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string></string>
		<key>name</key>
		<string>US Virgin Islands</string>
		<key>ISD</key>
		<string>1340</string>
		<key>MCC</key>
		<string></string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>UZB</string>
		<key>name</key>
		<string>Uzbekistan</string>
		<key>ISD</key>
		<string>998</string>
		<key>MCC</key>
		<string>434</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>VUT</string>
		<key>name</key>
		<string>Vanuatu</string>
		<key>ISD</key>
		<string>678</string>
		<key>MCC</key>
		<string>541</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>VEN</string>
		<key>name</key>
		<string>Venezuela</string>
		<key>ISD</key>
		<string>58</string>
		<key>MCC</key>
		<string>734</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string></string>
		<key>name</key>
		<string>Vatican City State</string>
		<key>ISD</key>
		<string>379</string>
		<key>MCC</key>
		<string>225</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>VNM</string>
		<key>name</key>
		<string>Vietnam</string>
		<key>ISD</key>
		<string>84</string>
		<key>MCC</key>
		<string>452</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>WLF</string>
		<key>name</key>
		<string>Wallis and Futuna</string>
		<key>ISD</key>
		<string>681</string>
		<key>MCC</key>
		<string></string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>YEM</string>
		<key>name</key>
		<string>Yemen</string>
		<key>ISD</key>
		<string>967</string>
		<key>MCC</key>
		<string>421</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>ZMB</string>
		<key>name</key>
		<string>Zambia</string>
		<key>ISD</key>
		<string>260</string>
		<key>MCC</key>
		<string>645</string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string></string>
		<key>name</key>
		<string>Zanzibar</string>
		<key>ISD</key>
		<string>255</string>
		<key>MCC</key>
		<string></string>
	</dict>
	<dict>
		<key>ISOCODE</key>
		<string>ZWE</string>
		<key>name</key>
		<string>Zimbabwe</string>
		<key>ISD</key>
		<string>263</string>
		<key>MCC</key>
		<string>648</string>
	</dict>
</array>
</plist>
